body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.profile-card {
  background-color: white
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 50px;
  gap: 20px;
  display:flex;
  align-items:center;
}

.avatar {
  width: 100px;
  height: 100px;

  border-radius: 10px;
  object-fit: cover;
}

.info {
  text-align: left;
}

.btn {
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #5649c0;
  transform: scale(1.05);
  transition: 0.3s;
}
